%h1 Email Sender

%form{action: "/send", method: "post"}
  %input{type: "text", name: "your_name", placeHolder: "Your Name"}
  %br
  %input{type: "text", name: "your_email", placeHolder: "Your e-mail"}
  %br
  %input{type: "text", name: "to", placeHolder: "Their E-mail"}
  %br
  %input{type: "text", name: "subject", placeHolder: "Subject"}
  %br
  %textarea{name: "body", placeHolder: "Content"}
  %br
  %button{type: "submit"}Send

