%h1 Hello

%form{action: "/send"}
  %input{type: "text", name: "your_name", placeHolder: "Your Name"}
  %br
  %input{type: "text", name: "your_email", placeHolder: "Your e-mail"}
  %br
  %input{type: "text", name: "their_email", placeHolder: "Their E-mail"}
  %br
  %button{type: "submit"}Send

